.modal {
  position: absolute;
  display: flex;
  width: 85%;
  flex-direction: column;
  justify-content: space-evenly;
  padding: 20px;
  background-color: lavender;
  backdrop-filter: blur(10px);
  overflow: auto;
  left: 2.5%;
  top: 2.5%;
  z-index: 4;
  animation: fade 0.75s ease;

}