*{
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  font-family: Georgia, 'Times New Roman', Times, serif; 
}

h2, h3, h4, p {
  padding: 0.2em;
}

.App {  
  position: relative;
  overflow-y: hidden;
  height: 100vh;
}